@import "tailwindcss";

:root {
  --font-playfair: "Playfair Display", serif;
  --font-lora: "Lora", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1a0a02;
  color: #f5ecd7;
}

* {
  box-sizing: border-box;
}
